@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  background: #09001d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firework-wrapper {
  width: 810px;
  height: 610px;
  padding: 0;
  border: 2px solid #dd743f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
  border-radius: 8px;
}

@media (min-width: 344px) and (max-width: 768px) {
  .firework-wrapper {
    width: 95vw;              /* s'adapte à presque toute la largeur de l'écran */
    height: auto;
    padding: 0;
    border: 2px solid #dd743f;
    border-radius: 8px;
  }

  canvas {
    width: 100% !important;   /* canvas remplit le wrapper */
    height: auto !important;  /* garde les proportions */
  }
}
