@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  width: 60px;
  height: 59px;
  background-color: #fff;
  border-radius: 6px;
}
@media (min-width: 300px) and (max-width: 768px) {
  .logo {
    width: 50px;
    height: 49px;
  }
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  margin-left: 20px;
  transition: 0.3s;
}
@media (min-width: 300px) and (max-width: 768px) {
  .navbar {
    display: none;
  }
}

.navbar a:hover,
.navbar a.active {
  color: #eb6929;
}

.main {
  min-height: 100vh;
  background: url("images/back.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  max-width: 680px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 68px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media (min-width: 345px) and (max-width: 768px) {
  .home-content h1 {
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 300px) and (max-width: 344px) {
  .home-content h1 {
    font-size: 42px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0;
  }
}

.home-content p {
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  margin-top: 15px;
  font-weight: 600;
}
@media (min-width: 300px) and (max-width: 344px) {
  .home-content p {
    font-size: 13px;
    text-align: center;
    max-width: 285px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    margin-top: 25px;
    font-weight: bold;
  }
}

@media (min-width: 345px) and (max-width: 768px) {
  .home-content p {
    font-size: 14px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    margin-top: 25px;
    font-weight: bold;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom-group {
  display: flex;
  gap: 10px;
  margin: 5px;
}

/* responsive boutons */
@media (min-width: 339px) and (max-width: 768px) {
  .home-content {
    flex-direction: column;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-container button {
    max-width: 90%;
  }
  .bottom-buttons {
    margin-top: 18px;
  }

  .bottom-group {
    gap: 15px;
  }
}

.win-btn {
  width: 100px;
  height: 45px;
  background: #004aad;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #004aad;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

@media (min-width: 339px) and (max-width: 768px) {
  .win-btn {
    width: 88px;
    height: 50px;
    background: #004aad;
    border: 2px solid #fff;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
  }
}

.hard-btn {
  width: 110px;
  height: 45px;
  background: #ff3131;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #004aad;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
@media (min-width: 339px) and (max-width: 768px) {
  .hard-btn {
    width: 94px;
    height: 50px;
    background: #ff3131;
    border: 2px solid #fff;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
  }
}

.internet-btn {
  width: 100px;
  height: 45px;
  background: #3b1386;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #004aad;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

@media (min-width: 339px) and (max-width: 768px) {
  .internet-btn {
    width: 85px;
    height: 50px;
    background: #3b1386;
    border: 2px solid #fff;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
  }
}

.res-btn {
  width: 190px;
  height: 45px;
  background: #c40094;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #004aad;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}
@media (min-width: 339px) and (max-width: 768px) {
  .res-btn {
    width: 165px;
    height: 50px;
    background: #c40094;
    border: 2px solid #fff;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
  }
}

.mail-btn {
  width: 105px;
  height: 45px;
  background: #006837;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #004aad;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 339px) and (max-width: 768px) {
  .mail-btn {
    width: 89px;
    height: 50px;
    background: #006837;
    border: 2px solid #fff;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
  }
}

.win-btn:hover,
.hard-btn:hover,
.internet-btn:hover,
.res-btn:hover,
.mail-btn:hover {
  background: #09001d;
  box-shadow: none;
}

.top-buttons a,
.bottom-buttons a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .navbar {
    display: none;
  }

}